@tailwind base;
@tailwind components;
@tailwind utilities;

.star {
    position: absolute;
    background-color: white;
    width: 2px;
    height: 2px;
    border-radius: 50%;
  
    animation: twinkle var(--duration) infinite ease-in-out, move var(--duration) infinite linear;
  }

  
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(100px, -50px);
    }
  }

  @keyframes twinkle {
    0%, 100% {
      opacity: 0.2;
    }
    50% {
      opacity: 1;
    }
  }

  
    /* animation: twinkle var(--duration) infinite ease-in-out , move var(--delay)infinite linear; */
  
  
  